h3, h4 {
  margin: 0;
}
h4{
  /*margin-left: 10px;*/
  margin-bottom: 8px;
}
.align {
  color: #e1f5fe;
  padding: 5px;
}
.bk-color {
  background-color: #e8f5e9;
  font-weight: normal;
  padding: 5px;
  border-radius: 3px 3px;
}
.contener {
  /*　背景色 style.sheet myprint-dialog-panel　*/
}
.mat-dialog-content{
  /*height: 600px;*/
  min-height: 550px;
  max-height: 600px;
}
/* ヘッダー部 タイトル＋ボタン箇所*/
.title {
  height: 40px;
}
.title h3 {
  color: #002f6c;
}
.section1 {
  margin-left: 30px;
  margin-bottom: 30px;
}
.sec1-1 {
  width: 150px;
}
.sec1-2 {
  width: 100px;
}
.sec2-1 {
  width: 350px;
}
.sec2-2 {
  width: 200px;
}
.print-btn {
  background: #fff176;
}
.arrow-btn {
  height: 90px;
  background: #fff176;
}
/* 印刷部大枠コンテナ */
.print-data-container {
  min-height: 400px;
  max-height: 400px;
  overflow: scroll;
  background: white;
}
/* 印刷フィールド部繰り返し処理箇所 */
.print-field {
  padding: 20px 10px 20px 10px;
}
/* 各ラベル */
.label1 {
  width: 60px;
}
.label2, .label4 {
  width: 70px;
}
.label3 {
  width: 40px;
}
.label5 {
  width: 70px;
  margin-left: 190px;
}
/* 各データ箇所囲線と文字スタイル*/
.set-border {
  border: inset 1px;
  font-weight: normal;
  font-size: 14px;
}
/* ダイアログボタンアクション部 承認ボタン 閉じるボタン*/
.mat-dialog-actions {
  align-items: flex-start;
}
.close {
  background: #e0f2f1;
}
/* 各データ部幅 */
.vals1 {
  width: 20px;
}
.vals2 {
  width: 100px;
}
.vals3 {
  width: 250px;
}
.vals4 {
  width: 200px;
  min-height: 22px;
}
.vals5 {
  width: 50px;
}
.vals6 {
  width: 500px;
}
.vals7 {
  width: 350px;
}
