<div class="container">
<form [formGroup]="formGroup">
    <div class="main" fxLayout="column">
        <div class="header" fxLayout="row">
            <h3 class="label-color">保険会社確認フォーム</h3>
            <h5 class="hokengaisha-title label-color">保険会社</h5>
            <h4 class="kaisha">{{loginUser.hokengaisha}}</h4>
            <h5 class="tantousha-title mgl-30 label-color">担当者</h5>
            <h4 class="tantou">{{loginUser.kakuninsha}}</h4>
        </div>
        <div class="section1" fxLayout="row">
            <div class="select-panel" fxLayout="column">
                <div class="kanri-no-limit">
                    <label>管理No.</label>
                    <mat-form-field class="limit" appearance="legacy">
                    <input type="number" matInput matType="number" placeholder="" formControlName="beforeKanriNo" 
                        (change)="getListByHokengaisha()">
                    </mat-form-field>
                    <span style="font-size:small">以前</span>
                </div>
                <div class="kanri-no-limit">
                    <label>表示件数</label>
                    <mat-form-field class="limit">
                      <select matNativeControl formControlName="limit" (change)="getListByHokengaisha()">
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                      </select>
                    </mat-form-field>
                </div>
                <mat-radio-group class="radio-col" name="status" formControlName="status" (change)="getListByHokengaisha()">
                    <table>
                        <tr>
                            <td><mat-radio-button class="mat-radio-margin-top" value="{{frmStatusDlvry}}">郵送</mat-radio-button></td>
                            <td><mat-radio-button class="mat-radio-margin" value="{{frmStatusEnd}}">印刷済分</mat-radio-button></td>
                        </tr>
                        <tr>
                            <td><mat-radio-button class="mat-radio-margin" value="{{frmStatusOk}}">確認済分</mat-radio-button></td>
                            <td><mat-radio-button class="mat-radio-margin" value="{{frmStatusNot}}">未確認分</mat-radio-button></td>
                        </tr>
                    </table>
                </mat-radio-group>
            </div>
            <div class="announce-msg" fxLayout="column">
                <h2>下記の保険案件の書類のチェック・確認をお願いします。</h2>
                <h5>書類の状況はStatusで確認できます。</h5>
                <section class="status-guide">
                    <h5>
                        書類受渡前＝<span class="mgl-10 mgr-20 color-red txt-bold">０</span>
                        保険会社側書類確認済・確認書印刷前＝<span class="mgl-10 mgr-20 color-red txt-bold">１</span><br>
                        書類不備＝<span class="mgl-10 mgr-20 color-red txt-bold">３</span>
                        保険会社側確認書印刷完了＝<span class="mgl-10 mgr-20 color-red txt-bold">２</span>
                        郵送＝<span class="mgl-10 mgr-20 color-red txt-bold">−１</span>
                    </h5>
                </section>
            </div>
            <div class="btn-panel" fxLayout="column">
                <div class="">
                    <button type="button" mat-raised-button class="logout-btn" (click)="logout()">終了</button>
                </div>
                <h5>確認済分が印刷可能です。</h5>
                <div class="">
                    <button type="button" mat-raised-button class="print-btn" (click)="showPwdPrtConfirm()">確認書印刷</button>
                </div>
            </div>
        </div>
        <div class=" section2" fxLayout="row">
            <div class="select-panel2" fxLayout="row">
                <div class="kanri-shinseisha" fxLayout="row">
                    <label>申請者</label>
                    <mat-form-field class="select-shinseisha">
                      <select matNativeControl formControlName="shinseisha" (change)="searchShinseiKubun()">
                        <option value="all">すべて</option>
                        <option [value]="shinseisha" *ngFor="let shinseisha of frmShinseisha"
                            >{{shinseisha}}</option>
                      </select>
                    </mat-form-field>
                </div>
                <div class="kanri-kubun" fxLayout="row">
                    <label>区分</label>
                    <mat-form-field class="select-kubun">
                      <select matNativeControl formControlName="kubun" (change)="searchShinseiKubun()">
                        <option value="all">すべて</option>
                        <option [value]="kubun" *ngFor="let kubun of frmKubun"
                            >{{kubun}}</option>
                      </select>
                    </mat-form-field>
                </div>
                <div class="kanri-kakuninbi" fxLayout="row">
                    <label>確認日</label>
                    <mat-form-field class="input-dibled" appearance="fill">
                        <input matInput [matDatepicker]="searchKakuninbi" formControlName="kakuninbi" (dateChange)="searchShinseiKubun()">
                        <mat-datepicker-toggle matSuffix [for]="searchKakuninbi"></mat-datepicker-toggle>
                        <mat-datepicker #searchKakuninbi disabled="false"></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>

            <div class="section2-btns" fxLayout="row">
                <div class="">
                    <button type="button" mat-raised-button (click)="rePrintConfirm()">再印刷</button>
                </div>
                <div class="">
                    <button type="button" mat-raised-button (click)="undoStatusToOk()">確認済みに戻す</button>
                </div>
                <div class="">
                    <button type="button" mat-raised-button (click)="undoStatusToNot()">未確認に戻す</button>
                </div>
            </div>
        </div>
        <div class="list-header" fxLayout="row">
            <label class="status-label">Status</label>
            <label class="id-label">管理No.</label>
            <label class="shoukenbango-label">証券番号</label>
            <label class="keiyakusha-label">契約者名</label>
            <label class="kubun-label">区分</label>
            <label class="ok-shorui-label">OK書類</label>
            <label class="fubi-shorui-label">不備書類</label>
            <label class="hoken-bikou-label">保険会社備考</label>
            <label class="kakuninbi-label">確認日</label>
        </div>
        <div class="kanri-list" >
            <table>
                <ng-container *ngFor="let kanri of kanriList; index as i">
                <tr>
                    <td class="status">{{kanri.status}}</td>
                    <td class="id">{{kanri.id}}</td>
                    <td class="shoukenbango">{{kanri.shoukenbango}}</td>
                    <td class="keiyakusha">{{kanri.keiyakusha}}</td>
                    <td colspan="4" class="kubun">{{kanri.kubun}}</td>
                    <td rowspan="3" class="ok-shorui">{{kanri.okShoruiIchiran}}</td>
                    <td rowspan="3" class="fubi-shorui">{{kanri.fubiShoruiIchiran}}</td>
                    <td rowspan="3" class="hoken-bikou">{{kanri.hokenBikou}}</td>
                    <td rowspan="3" class="kakuninbi-maisu">
                        <label class="kakuninbi">{{kanri.saishuKakuninbi ? kanri.saishuKakuninbi.substr(0,10) : ''}}</label><br>
                        <label class="shorui-maisu-label label-color">書類枚数</label><br>
                        <label class="shorui-maisu">{{kanri.shoruiMaisu}}</label>
                    </td>
                    <td rowspan="3" class="chkbox">
                        <mat-checkbox  name="chkbox{{i}}" (click)="$event.stopPropagation()"
                        (change)="selection.toggle(kanri)" [disabled]="kanri.status === -1 ? true : false">
                         <!--
                            [checked]="selection.isSelected(element)"
                        -->
                        </mat-checkbox>
                    </td>
                </tr>
                <tr>
                    <td class="shinseisha-label label-color">申請者</td>
                    <td class="shinseisha">{{kanri.shinseisha}}</td>
                    <td colspan="3">
                        <label class="saishuhenshubi-label label-color">最終編集日</label>
                        <label class="saishuhenshubi">{{kanri.saishuHenshubi.substr(0,10)}}</label>
                    </td>
                    <td class="seiho-label label-color">生保</td>
                    <td class="seiho">
                        <mat-checkbox disabled="true" [checked]="kanri.seiho">
                        </mat-checkbox>
                    </td>
                    <td class="chk-btn" rowspan="2">
                        <button type="button" mat-raised-button class="shorui-chk-btn" color="primary" 
                            (click)="showCheckKanri(kanri)" [disabled]="shoruiCheckBtnDisabled">書類チェック</button>
                    </td>
                </tr>
                <tr>
                    <td class="bikou-label label-color">備考</td>
                    <td colspan="6" class="bikou">{{kanri.bikou}}</td>
                </tr>
                </ng-container>
            </table>
        </div>
    </div>
</form>
</div>

