h1,h2,h3, h4, h5 {
    margin: 0;
}
input {
    font-size: small;
}
select {
    font-size: small;
}
/* 空白用クラス */
.mgl-10{
    margin-left : 10px;
}
.mgl-20{
    margin-left : 20px;
}
.mgl-30{
    margin-left : 30px;
}
.mgr-10{
    margin-right: 10px;
}
.mgr-20{
    margin-right: 20px;
}
.mgr-30{
    margin-right: 30px;
}
/* 文字太用クラス */
.txt-bold {
    font-weight: bold;
}
/* 文字色用クラス */
.color-red {
    color: red;
}
.container {
    width: auto;
    height: 100%;
    /*min-height: 740px;*/
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(to right, #00a9f4, #0277bd);
    background: linear-gradient(to right, #00a9f4, #0277bd);
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main {
    width: 1200px;
    /*height: 100%;
    min-height: 690px;*/
    height: 700px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /*border: solid 1px #aaaaaa;*/
  }
/*保険会社　担当者*/
.header {
    margin: 5px 5px 5px 220px;
}
.header h4{
    margin: 0 10px 0 10px;
}
.tantou {
    display: flex;              /* 中央揃え用 */
    width: 200px;
    color: white;
    background-color: #006064;
    align-items: center;        /* 縦方向中央揃え */
    justify-content: center;    /* 横方向中央揃え */
    border: solid 1px;
    border-radius: 5px 5px;
}
.kaisha {
    display: flex;              /* 中央揃え用 */
    width: 420px;
    color: white;
    background-color: #006064;
    align-items: center;        /* 縦方向中央揃え */
    justify-content: center;    /* 横方向中央揃え */
    border: solid 1px;
    border-radius: 5px 5px;
}
/* 条件選択パネル部 */
.section1 {
    height: 150px;
}
.select-panel {
    width: 210px;
    height: 150px;
    /*background: #ffffff;*/
    background: #e0f2f1;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
    padding: 3px 0 0 0;
}
.kanri-no-limit {
    margin-left: 15px;
}
.kanri-no-limit label{
    display: block;
    float: left;
    width: 60px;
    padding-top: 10px;
    text-align:left;
    font-size: small;
  }
.limit {
    width: 80px;
}
.limit ::ng-deep .mat-form-field-wrapper {
    height: 30px;
    padding-bottom: 5px;
}
.limit ::ng-deep .mat-form-field-infix {
    border-top: 0;
}
.limit ::ng-deep .mat-form-field-underline {
    bottom: 8px;
}
.mat-radio-button {
    transform: scale(0.7); /* ラジオボタン大きさ */
}
.mat-radio-margin,
.mat-radio-margin-top {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
    font-weight: bold;
}
.mat-radio-margin-top {
    margin-left: 5px;
}
/*ラジオボタン並び縦 */
/*
.radio-col { 
    display: flex;
    flex-direction: column;
    margin-right: auto;
}*/
.radio-col {
    margin-left: 1px;
}
.radio-col table {
    width: 195px;
    margin-top: 0;
    background: #e0f2f1;
    border-collapse: separate;
    border-spacing: 1px 1px;
}
.radio-col label {
    margin-bottom: 0px;
}
/*処理依頼案内・ステータス説明箇所*/
.announce-msg {
    display: block;
    width: 750px;
    padding-top: 5px;
    padding-left: 80px;
}
.announce-msg h2 {
    color: crimson;
    font-weight: bold;
}
.announce-msg h5 {
    margin-top: 10px;
    margin-left: 5px;
}
.status-guide {
    display: block;
    width: 600px;
    height: 55px;
    margin-top: 10px;
    /*background: #ffffff;*/
    background: #e0f2f1;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
.status-guide h5 {
    margin-top: 5px;
    margin-left: 60px;
}
/*終了・確認書印刷ボタン*/
.logout-btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80px;
    padding: 0 0 0 3px;
    background: #e0f2f1;
    font-size: medium;
    line-height: 1px;
}
.print-btn {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: #ffab91;
    font-size: medium;
    line-height: 1px;
}
.btn-panel h5 {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 8px;
}
/*申請者・区分選択、再印刷、確認済みに戻す、未確認に戻すボタン*/
.section2 {
    height: 45px;
    padding-top: 5px;
}
.select-panel2 {
    width: 510px;
    height: 40px;
    background: #e0f2f1;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
.kanri-shinseisha {
    margin-left: 20px;
}
.kanri-kubun {
    margin-left: 50px;
}
.kanri-shinseisha label,
.kanri-kubun label
{
    display: block;
    float: left;
    width: 50px;
    padding-top: 10px;
    text-align:left;
    font-size: small;
}
.kanri-kubun label {
    width: 40px;
}
.select-shinseisha {
    width: 120px;
}
.select-kubun {
    width: 200px;
}
.select-shinseisha ::ng-deep .mat-form-field-wrapper,
.select-kubun ::ng-deep .mat-form-field-wrapper {
    height: 30px;
    padding-bottom: 5px;
}
.select-shinseisha ::ng-deep .mat-form-field-infix,
.select-kubun ::ng-deep .mat-form-field-infix {
    border-top: 0;
}
.select-shinseisha ::ng-deep .mat-form-field-underline,
.select-kubun ::ng-deep .mat-form-field-underline {
    bottom: 8px;
}
.section2-btns {
    margin-left: 260px;
}
.section2-btns button {
    height: 35px;
    margin-left: 20px;
    background: #fff176;
}
/*管理書類一覧
* table幅1150px <---各td幅+列span1px(合計13px)
*/
.list-header {
    margin-top: 10px;
    margin-bottom: 3px;
}
.list-header label {
    line-height: 10px;
    font-size: small;
    font-weight: bold;
    /*color: #e0f2f1;*/
}
.status-label {
    margin-left: 5px;
}
.id-label {
    margin-left: 19px;
}
.shoukenbango-label {
    margin-left: 80px;
}
.keiyakusha-label {
    margin-left: 55px;
}
.kubun-label {
    margin-left: 70px;
}
.ok-shorui-label {
    margin-left: 273px;
}
.fubi-shorui-label {
    margin-left: 62px;
}
.hoken-bikou-label {
    margin-left: 55px;
}
.kakuninbi-label {
    margin-left: 25px;
}
.kanri-list {
    width: 1170px;
    height: 385px;
    padding-left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
table {
    width: 1150px;
    margin-top: 3px;
    padding-left: 3px;
    background: white;
    border-collapse: separate;
    border-spacing: 1px 8px;
}
td {
    font-size: small;
}
.status {
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.status, .shinseisha-label, .bikou-label {
    width: 50px;
}
.shoukenbango {
    width: 100px;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.id, .shinseisha {
    width: 120px;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.keiyakusha {
    width: 120px;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.seiho-label {
    width: 35px;
}
.kubun {
    width: 327px;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.saishuhenshubi {
    padding: 5px 10px 5px 10px ;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.shinseisha-label, .saishuhenshubi-label, .seiho-label, .bikou-label, .shorui-maisu-label {
    font-weight: bold;
}
.ok-shorui, .fubi-shorui, .hoken-bikou, .kakuninbi-maisu {
    width: 100px;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.kakuninbi {
}
.shorui-maisu-label {
    padding: 2px 10px 2px 10px ;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.shorui-maisu {
    padding: 1px 20px 1px 20px ;
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}
.chk-btn {
    width: 115px;
}
.shorui-chk-btn {
    width: 110px;
    height: 50px;
    /*background: #e0f2f1;*/
    font-size: small;
    line-height: 1px;
}
.chkbox {
    width: 20px;
}
.bikou {
    border: solid 1px #aaaaaa;
    border-radius: 2px 2px;
}