h3, h4 {
    margin: 0;
  }
  h4{
    margin-bottom: 8px;
  }
.container {
    width: auto;
    height: 100%;
    min-height: 740px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(to right, #00a9f4, #0277bd);
    background: linear-gradient(to right, #00a9f4, #0277bd);
    padding: 10px;
}
.panel {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #ffffff;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
.sec-1{
    margin-left: auto;
    margin-right: auto;
}
.sec-2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.close-btn {
    height: 30px;
    line-height: 1px;
    margin-left: 150px;
    background: #e0f2f1;
}
.kanri {
    margin: 10px;
    padding: 15px 20px 30px 20px;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
.kanri button, .list-change button {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #ffab91;
}
.list-change {
    height: 250px;
    margin: 10px;
    padding: 15px 20px 30px 20px;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
