<mat-dialog-content [formGroup]="formGroup">
    <div class="" fxLayout="column">
        <section>
            <h3>パスワード変更画面</h3>
        </section>
        <div class="pwd-panel" fxLayout="column">
            <mat-form-field class="pwd-input" appearance="legacy">
                <mat-label>現在のパスワード</mat-label>
                <input type="password" matInput placeholder="" formControlName="currentPasswd">
            </mat-form-field>
            <mat-form-field class="pwd-input" appearance="legacy">
                <mat-label>新しいパスワード</mat-label>
                <input type="password" matInput placeholder="" formControlName="newPasswd">
            </mat-form-field>
            <mat-form-field class="pwd-input" appearance="legacy">
                <mat-label>新しいパスワード(確認)</mat-label>
                <input type="password" matInput placeholder="" formControlName="newConfirmPasswd">
            </mat-form-field>
            <!--span class="err-msg form-varidation" *ngIf="(currentPasswd.dirty && currentPasswd.errors != null && currentPasswd.errors.required)
                || (newPasswd.dirty && newPasswd.errors != null && newPasswd.errors.required)
                || (newConfirmPasswd.dirty && newConfirmPasswd.errors != null && newConfirmPasswd.errors.required)
                ">
                *パスワード項目は入力必須です</span-->
            <ng-container *ngFor="let pwdErr of pwdErrs">
                <span class="err-msg form-varidation">{{pwdErr}}</span>
            </ng-container>
            <span class="err-msg form-varidation">{{message}}</span>
        </div>
        <div class="" fxLayout="row">
            <section mat-dialog-actions class="">
                <button type="button" mat-raised-button color="" class="change" (click)="changePwd()"
                [disabled]="formGroup.invalid">変更</button>
            </section>
            <section mat-dialog-actions class="">
                <button type="button" mat-raised-button color="" class="tojiru" (click)="close()">閉じる</button>
            </section>
        </div>
    </div>
</mat-dialog-content>
