mat-dialog-content {
    width: 500px;
    height: 480px;
    padding-left: 30px;
    padding-right: 30px;
}
.form-varidation {
    font-size: small;
    color: #ff0000;
  }
.pwd-panel {
    height: 320px;
    border: solid 6px;
    border-color: #0277bd;/*#00a9f4;*/
    border-radius: 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.pwd-input {
    width: 280px;
    margin-left: 90px;
}
.err-msg {
    width: 320px;
    margin-left: 90px;
}
.tojiru, .change {
    height: 40px;
    width: 100px;
    line-height: 1px;
    font-weight: bold;
}
.change {
    margin-left: 85px;
    background: #ffab91;
}
.tojiru {
    margin-left: 135px;
    background: #e0f2f1;
}
