.container {
  width: auto;
  height: 100%;
  /*min-height: 770px; 横拡張前*/
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  /*background: -webkit-linear-gradient(to right, #4682b4, #3a7bd5);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #4682b4, #3a7bd5);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to right, #00a9f4, #0277bd);
  background: linear-gradient(to right, #00a9f4, #0277bd);
  padding: 10px;
}
.main {
  /*width: 1120px; 横拡張前*/
  width: 1320px;
  height: 100%;
  /*min-height: 690px; 横拡張前*/
  max-height: 720px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  /*background: -webkit-linear-gradient(to right, #4682b4, #3a7bd5);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #4682b4, #3a7bd5);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /*border: solid 1px #aaaaaa;
  box-sizing: border-box;*/
}
/* 上部システム名 担当者表示部 */
.title{
  margin-bottom: 1px;
}
.title H3 {
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-right: 50px; 横拡張前*/
  margin-right: 200px;
  margin-left: 30px;
  color: #002f6c;
}
.title H4 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:30px;
  margin-right: 30px;
}
.title H5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #002f6c;
}
.tantou {
  width: 150px;
  color: white;
  /*background-color: #7E57C2;*/
  background-color: #006064;
  text-align: center;
  border: solid 1px;
  border-radius: 5px 5px;
}
.kaisha {
  width: 300px;
  color: white;
  /*background-color: #7E57C2;*/
  background-color: #006064;
  text-align: center;
  border: solid 1px;
  border-radius: 5px 5px;
}
/*ステータス絞込みパネル*/
input {
  font-size: small;
}
select {
  font-size: small;
}
mat-form-field {
  width: 100px;
  padding-left: 10px;
  line-height: 1;
}
.set-panel {
  /*width: 1100px; 横拡張前*/
  width: 1300px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #FFFFFF;
  border: solid 1px;
  border-radius: 5px 5px;
}
/*横拡張追加*/
.status-panel {
  width: 530px;
}
/*横拡張追加*/
.search-buttons-panel {
  width: 700px;
  margin-left: 20px;
}
.status-select, .status-app-select, .select-details{
  margin: 5px;
  /*padding: 5px; 横拡張前*/
  padding: 10px;
  border: solid 2px;
  border-color: #e74c3c;
  border-radius: 5px 5px;
}
/*横拡張追加*/
.status-select, .status-app-select {
  margin-left: 30px;
}
.select-details {
  border-color: #673AB7;
}
.kaisha-select {
  margin: 5 5 5 5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.status-select H5, .status-app-select H5 {
  margin-top: 0;
}
.mat-radio-button {
  transform: scale(0.7); /* ラジオボタン大きさ */
}
.mat-radio-margin {
  margin-bottom: 0px;
}
.radio-col { /*ラジオボタン並び縦 */
  display: flex;
  flex-direction: column;
  /*margin-left:10px; 横拡張前*/
  margin-left:20px;
}
.radio-col label {
  font-size: small;
  padding-left: 5px;
}
.kanri-no-limit label{
  display: block;
  float: left;
  width: 60px;
  padding-top: 10px;
  text-align:left;
  font-size: small;
}
.limit ::ng-deep .mat-form-field-wrapper {
	height: 30px;
	padding-bottom: 5px;
}
.limit ::ng-deep .mat-form-field-infix {
  border-top: 0;
}
.limit ::ng-deep .mat-form-field-underline {
	bottom: 8px;
}
/* Status絞込み部*/
.status-app-select h5 {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 20px;
}
/*横拡張追加*/
.status-app-radio {
  margin-left: 25px;
}
/* 会社選択ボタン、確認書印刷ボタン、メンテナンスボタン、終了ボタン */
.kaisha-select mat-button-toggle{
	height: 35px;
  width: 120px;
  line-height: 35px;
}
.print-confirm-btn, .maintenance-btn{
  margin-top: 5px;
  height: 30px;
  line-height: 1px;
}
.print-confirm-btn {
  /*margin-left: 15px; 横拡張前*/
  margin-left: 100px;
}
.maintenance-btn {
  /*margin-left: 10px; 横拡張前*/
  margin-left: 20px;
}
.logout-btn {
  width: 75px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
  padding: 0 0 0 3px;
  background: #e0f2f1;
  font-size: 12px;
  line-height: 1px;
}
/* 権限レベル非表示時レイアウト調整 */
.hidden-jlx-jlxhs {
  display: block;
  width: 244px;
  height: 37px;
}
.hidden-confirm-print {
  display: block;
  /*width: 117px; 幅拡張前*/
  width: 217px;
  height: 37px;
}
/* 検索条件を選択部 */
.select-details h5 {
  margin: 0;
}
.select-detail label{
  display: block;
  float: left;
  width: 60px;
  padding-top: 10px;
  text-align:right;
  font-size: small;
}
.select-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 30px; 横拡張前*/
  margin-left: 50px;
  margin-right: 10px;
}
/* 検索実行ボタン１つの時の中央寄せ
.select-exec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
}
*/
.select-exec button {
  padding-left: 30px;
  padding-right: 30px;
  background: #ffab91;
}
.select-clear button {
  margin-top: 20px;
  padding-left: 37.5px;
  padding-right: 37.5px;
  background: #e0f2f1;
}
/* ボタンパネル部 */
.buttons-panel {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttons-panel button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*横拡張追加*/
.button-group {
  margin-left: 30px;
}
.curd-button {
  height: 30px;
  line-height: 1px;
}
.curd-btn-color {
  background: #e0f2f1;
}
.create-btn-color {
  background: #9fa8da;
}
.edit-btn-color {
  background: #ffab91;
}
.delete-btn-color {
  background: #fff176;
}
.approve-btn-color {
  background: #d39ddb;
}
/* 削除閲覧ボタンアクティブ時背景色　その他チェックシート印刷・確認書印刷・メンテナンスボタン・CSV出力背景色 */
.active-btn {
	background: #fff176;
}
.non-active-btn {
	background: #e0f2f1;
}
/* チェックシート印刷 大枠囲い込み部分 */
.print-section {
  height: 40px;
  /*margin-left: 20px; 横拡張前*/
  margin-left: 40px;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  border: solid 1px;
  border-radius: 5px 5px;
  background: silver;
}
.print-kanri-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-weight: normal;
}
.print-kanri-no {
  width: 65px;
}
.print-btn {
  margin-top:1px;
  margin-bottom: 0px;
}
/* チェックシート管理No.以降 Input高さ調整 */
.print-kanri-no ::ng-deep .mat-form-field-wrapper {
	height: 30px;
	padding-bottom: 5px;
}
.print-kanri-no ::ng-deep .mat-form-field-infix {
  border-top: 0;
}
.print-kanri-no ::ng-deep .mat-form-field-underline {
	bottom: 8px;
}
.pwd-change-btn{
  /*margin-left: 15px; 横拡張前*/
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pwd-change-btn button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #ff4081;
}
/* DataTable CSS */
.list-container {
  min-height: 300px;
  padding: 1px;
  background: #FFFFFF;
  border: solid 1px;
  border-radius: 5px 5px;
}
.list {
  min-height: 355px;
  max-height: 355px;
  /*width: 1095px; 横拡張前*/
  width: 1295px;
  overflow: auto;
}
table {
  width: 2800px;
}
td {
  font-size: 11px;
  word-break : break-all;
}
th {
  font-size: 12px;
  font-weight: 900;
}
tr.mat-header-row {
  height: 25px;
}
tr.mat-footer-row, tr.mat-row {
  height: 30px;
}
.tr-row {
  background-color: #EDE7F6;
}
/* 一覧の列幅設定 */
.th-select {
  width: 20px;
}
.th-status {
  width: 30px;
}
.th-status-app {
  width: 40px;
}
.th-id {
  width: 50px;
}
.th-tantousha {
  width: 90px;
}
.th-shinseisha {
  width: 90px;
}
.th-sakuseibi {
  width: 70px;
}
.th-dlvry {
  width: 40px;
}
.th-hokengaisha {
  width: 160px;
}
.th-seihobun {
  width: 50px;
}
.th-hoken-tantou {
  width: 90px;
}
.th-shoukenbango {
  width: 60px;
}
.th-keiyakusha {
  width: 100px;
}
.th-kubun {
  width: 100px;
}
.th-shorui-maisu {
  width: 60px;
}
.th-bikou {
  width: 180px;
}
.th-hokenbikou {
  width: 180px;
}
.th-saishu-henshubi {
  width: 70px;
}
.th-kakuninsha {
  width: 90px;
}
.th-kakuninbi {
  width: 70px;
}
.th-shouninsha {
  width: 90px;
}
.th-shouninbi {
  width: 70px;
}
.th-mishouninsha {
  width: 90px;
}
.th-mishouninbi {
  width: 70px;
}
.th-sakujyosha {
  width: 90px;
}
.th-sakujyoriyu {
  width: 150px;
}
/* ページ送り・CSVボタン・フッター */
.paginator {
  /*width: 1095px; 横拡張前*/
  width: 1295px;
  height: 55px;
  margin: 0px;
}
mat-paginator {
  margin-right: 20px;
  margin-left: auto;
}
.csv-output {
  padding-top: 15px;
}
.csv-output button {
    height: 30px;
    line-height: 1px;
    margin-left: 50px;
}
.footer {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 30px;
  background: #FFFFFF;
  border: solid 1px;
  border-radius: 5px 5px;
}
.footer-text h5 {
  margin: 0px;
  font-weight: normal;
}
/* 空白用クラス */
.mgl-10{
  margin-left : 10px;
}
.mgl-20{
  margin-left : 20px;
}
.mgl-30{
  margin-left : 30px;
}
.mgr-10{
  margin-right: 10px;
}
.mgr-20{
  margin-right: 20px;
}
.mgr-30{
  margin-right: 30px;
}
/* 文字太用クラス */
.txt-bold {
  font-weight: bold;
}
/* 文字色用クラス */
.color-red {
  color: red;
}
