h3, h4 {
    margin: 0;
    color: #000051;
  }
h4{
    margin-bottom: 8px;
}
mat-dialog-content {
    width: 950px;
    min-height: 620px;
    max-height: 620px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid 3px #aaaaaa;
    border-radius: 10px 10px;
}
table {
    font-size: small;
    border-collapse: separate;
    border-spacing: 1px 5px;
}
th {
    font-size: small;
    color: #000051;
}
th, td {
    height: 25px;
}
.section1 table {
    width: 700px;
}
.section1 td {
    word-break : break-all;
}
.id-label, .keiyakusha-label, .bikou-label, .hoken-bikou, .kubun-label {
    text-align: right;
    padding-right: 5px;
}
.id-label {
    width: 80px;
}
.id {
    width: 80px;
}
.shoukenbango-label {
    width: 80px;
}
.shoukenbango {
    width: 100px;
}
.hoken-bikou {
    height: 40px;
    text-align: left;
}
.shorui-maisu-label {
    width: 77px;
}
.shorui-maisu {
    width: 50px;
}
.blank1 {
    width: 3px;
}
.blank3 {
    width: 300px;
}
.id, .shoukenbango, .keiyakusha, .bikou, .hoken-bikou, .kubun, .shorui-maisu {
    background: #eceff1;
}
.cancel-save-btns {
    padding-top: 30px;
    padding-left: 50px;
}
.cancel-btn {
    background: #e0f2f1;
    height: 35px;
    line-height: 1px;
    color: #000051;
    font-weight: bold;
}
.save-btn {
    margin-top: 70px;
    background: #fff176;
    height: 50px;
    line-height: 1px;
    color: #000051;
    font-weight: bold;
}
/* 書類一覧部 */
.section2 table {
    width: 930px;
}
.ok-ng-select {
    display: block;
    height: 20px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    background: #e0f2f1;
    border: solid 2px #1976d2;
    border-radius: 3px 3px;
}
.mat-radio-button {
    transform: scale(0.7); /* ラジオボタン大きさ */
}
.mat-radio-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
    font-weight: bold;
}
.fubi {
    width: 385px;
    height: 23px;
}
.shorui-label {
    width: 80px;
    padding-right: 5px;
    text-align: right;
}
.shorui-title {
    width: 260px;
    text-align: left;
    font-size: medium;
}
.td-ok-btn {
    width: 140px;
}
.ok-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #ffab91;
    font-weight: bold;
}
.fubi-header {
    width: 390;
    text-align: left;
    font-size: medium;
}
.shorui1, .shorui2, .shorui3, .shorui4, .shorui5,
.shorui6, .shorui7, .shorui8, .shorui9 {
    background: #eceff1;
}



/*
.all-form ::ng-deep .mat-form-field-wrapper {
	padding-bottom: 15px;
}
.all-form ::ng-deep .mat-form-field-infix {
  border-top: 5;
}
.all-form ::ng-deep .mat-form-field-underline {
	bottom: 18px;
}
.btns {
    padding-left: 320px;
}
.btn {
    height: 30px;
    line-height: 1px;
    margin-left: 30px;
    width: 100px;
}
.search-btn-color {
    background: #e0f2f1;
}
.clear-btn-color {
    background: #e0f2f1;
}
.create-btn-color {
    background: #9575cd;
}
.edit-btn-color {
    background: #ffab91;
}
.delete-btn-color {
    background: #fff176;
}
.close-btn-color {
    background: #e0f2f1;
}
*/

/* DataTable CSS */
/*
.list-container {
    min-height: 300px;
    width: 1100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    background: #FFFFFF;
    border: solid 1px;
    border-radius: 5px 5px;
  }
.list {
    min-height: 325px;
    */
    /*max-height: 400px;*/
    /*
    max-height: 325px;
    width: 1090px;*/
    /*overflow: auto;*/
    /*
    overflow-y: auto;
    overflow-x: hidden;
}
table {
    width: 1090px;
}
th, td {
    font-size: x-small;
}
th {
    font-weight: 900;
}
tr.mat-header-row {
    height: 25px;
}
tr.mat-footer-row, tr.mat-row {
    height: 30px;
}
.tr-row {
    background-color: #EDE7F6;
}
.paginator {
    width: 1090px;
    margin: 0px;
}
*/
/*入力フォーム*/
/*
.all-form {
    font-size: smaller;
    margin-left: 20px;
}
.user-id {
    font-size: smaller;
    margin-left: 15px;
    width: 90px;
}
.password {
    width: 130px;
}
.password-setdate {
    width: 140px;
}
.kengen {
    width: 60px;
}
.shimei {
    width: 140px;
}
.kaisha {
    width: 190px;
}
.busho {
    width: 160px;
}
.kubun {
    width: 40px;
}
*/